@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
body{
    background-color: aqua;
}
.header{
  width: 50%;
  margin: auto;
}
.header__title{
  text-align: center;
}
.main{
 width:100vw;
 height:100%;
 background-color: antiquewhite;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10px;
 border:1px solid black;
}
.main__clild{
 background-color: rgb(12, 150, 104);
 width: 100px;
 height: 100px;
 transition-property: all;
 transition-duration:2s;
 transition-timing-function: ease-in;
 /* transition-delay:1s;
 /* shortHand */
 /* transition:all 2s ease-in 1s; */
 
}
.main__clild:hover{
    border-radius: 50%;
    background-color: aqua;
}