@charset "UTF-8";

body{
    background-color: rgb(194, 240, 224);
    font: italic 200 16px Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: 

}
h1#titulo{
    background-color: azure;
    
}
